// create mixin
felxer {
    display: flex;
    flex-direction: column;
    align-items: center;

}



grider {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

grider-2 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

grider-1 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}



// display: flex;
// flex-direction: column;
// align-items: center;