<footer>

    <div class="footer">
        <div class="col about">
            <h2>SumUp</h2>
            <p>A redefined way to Read</p>
        </div>
        <div class="col dev">
            <h2>Md. Khatami</h2>
            <p>Developer | Student | </p>
            <p>Computer Science & Engineering</p>
            <p>Rajshahi University of Engineering and Technology,Bangladesh</p>

        </div>
    </div>
    <div class="allr8">
        <p>© 2021 SumUp. All rights reserved.</p>
    </div>

</footer>