<div class="container singleGrid">


    <!-- add for loop -->
    {% for news in newsls %}

    <div class="content">
        <div class="image">
            <img src={{ news.image }} alt="unknown!!">
        </div>
        <div class="news">

            <div class="news-item">
                <h3 class="news-header"> {{news.title}} </h3>
                <p>যুক্তরাষ্ট্রের প্রেসিডেন্ট জো বাইডেনের ভাই–বোনসহ ২০০ মার্কিনীর বিরুদ্ধে নিষেধাজ্ঞা জারি
                    করেছে রাশিয়া। স্থানীয় সময় গত শুক্রবার রুশ পররাষ্ট্র মন্ত্রণালয়ের পক্ষ থেকে এক বিবৃতিতে এ
                    তথ্য জানানো হয়েছে। খবর রয়টার্স।
                    বিবৃতিতে বলা হয়েছে, যে ২০০ মার্কিন নাগরিকের বিরুদ্ধে নিষেধাজ্ঞা দেওয়া হয়েছে তাঁরা
                    রাশিয়ায় ভ্রমণ করতে পারবেন না। এই তালিকায় রয়েছে বাইডেনের বোন ও রাজনৈতিক কৌশলবিদ ভ্যালেরি
                    বাইডেন ওয়েনসের নাম। তালিকায় আরও রয়েছেন বাইডেনের ভাই জেমস ব্রায়ান বাইডেন ও ফ্রান্সিস
                    ইউলিয়াম বাইডেন।</p>
                <h3 class="by">news from {PALO}</h3>
            </div>

        </div>


    </div>
    {% endfor %}



    {% include './imports/buttons.html' %}



</div>