<nav class="sidebar">
    <div class="blacdot"><i class='bx bx-x'></i></div>
    <div class="text">sidebarr</div>
    <ul>
        <li><a href="#">Home</a></li>
        <li class="paloclass"><a class="palo" href="#">PROTHOM-ALO
                <i class='bx bx-caret-down'></i>
            </a>
            <ul class="">
                <li><a href="#">BD</a></li>
                <li><a href="#">WORLD</a></li>
                <li><a href="#">TECH</a></li>
            </ul>
        </li>
        <li class="bdclass"><a class="bd" href="#">BDNEWS
                <i class='bx bx-caret-down'></i>
            </a>
            <ul class="bd-show">
                <li><a href="#">BD</a></li>
                <li><a href="#">WORLD</a></li>
                <li><a href="#">TECH</a></li>
            </ul>
        </li>
    </ul>
</nav>