<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SumUp</title>
    <!-- add css -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="header">
        <h1>SumUp</h1>
    </div>
    <div class="h-maintainer">
        <div class="h-container">
            <div class="image">
                <img src="../static/image/main.png" alt="">
            </div>
            <div class="h-infograph">
                <h1>Stay informed in <span>4</span> Lines</h1>
                <p>We understand you don't have time to go through long news articles everyday. So we cut the clutter
                    and deliver them, in 60-word shorts. Short news for the mobile generation.</p>
            </div>

        </div>
    </div>


</body>

</html>