<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SumUp</title>
    <!-- add css -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="header">
        <h1>SumUp</h1>
    </div>
    <div class="h-maintainer">

        <div class="h-container">
            <div class="h-infograph">
                <h1>Stay informed in <span>5</span> ✋ Lines</h1>
                <p>We understand you don't have time to go through long news articles everyday. So we cut the clutter
                    and deliver them, in 60-word shorts. Short news for the mobile generation.</p>
                <!-- <button class="button-35" role="button">Start Experiencing ! !</button> -->
                <button class="button-51" role="button">
                    <a href="{{url_for('index',cat='WORLD',news='palo')}}">Start Experiencing ! !</a>
                </button>


            </div>
            <div class="h-image">
                <img src="../static/image/k1.png" alt="">
            </div>

        </div>

        <!-- HTML !-->




    </div>

    {% include 'imports/footer.html' %}


</body>

</html>