<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SumUP-News</title>
    <!-- add  css from folder-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- <link rel="stylesheet" href="./imports/sidebar.html"> -->
    <!-- fontawesome -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- googleFont -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    </style>

</head>


<body>
    <div class="header">
        <div class="blackdot">
            <i class='bx bx-menu-alt-left'></i>
        </div>
        <h1>SumUP-News</h1>
    </div>
    <div class="maintainer">
        <div class="container-title">
            <h2>WORLD
                <div class="shade"></div>
            </h2>
            <div class="showstyle">
                <i class='bx bx-grid-alt'></i>
            </div>
        </div>
        {% include 'imports/sidebar.html' %}
        <div class="container singleGrid">


            <!-- add for loop -->
            {% for news in newsls %}

            <div class="content">
                <div class="image">

                    <img src={{ "https://gumlet.assettype.com/" + news.story['hero-image-s3-key'] }} alt="unknown!!">
                </div>
                <div class="news">

                    <div class="news-item">
                        <h3 class="news-header"> {{news.story.headline}} </h3>
                        <p>যুক্তরাষ্ট্রের প্রেসিডেন্ট জো বাইডেনের ভাই–বোনসহ ২০০ মার্কিনীর বিরুদ্ধে নিষেধাজ্ঞা জারি
                            করেছে রাশিয়া। স্থানীয় সময় গত শুক্রবার রুশ পররাষ্ট্র মন্ত্রণালয়ের পক্ষ থেকে এক বিবৃতিতে এ
                            তথ্য জানানো হয়েছে। খবর রয়টার্স।
                            বিবৃতিতে বলা হয়েছে, যে ২০০ মার্কিন নাগরিকের বিরুদ্ধে নিষেধাজ্ঞা দেওয়া হয়েছে তাঁরা
                            রাশিয়ায় ভ্রমণ করতে পারবেন না। এই তালিকায় রয়েছে বাইডেনের বোন ও রাজনৈতিক কৌশলবিদ ভ্যালেরি
                            বাইডেন ওয়েনসের নাম। তালিকায় আরও রয়েছেন বাইডেনের ভাই জেমস ব্রায়ান বাইডেন ও ফ্রান্সিস
                            ইউলিয়াম বাইডেন।</p>
                        <h3 class="by">news from {PALO}</h3>
                    </div>

                </div>


            </div>
            {% endfor %}



            {% include './imports/buttons.html' %}



        </div>



    </div>

    <!-- add js -->
    <script src="../static/js/index.js"></script>
    <script src="https://kit.fontawesome.com/2d0c151a0a.js" crossorigin="anonymous"></script>
</body>

</html>